:root {
	--primary-color-light: #97907e;
	--primary-color-dark: #7a715d;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 18px;
	line-height: 1.5;
	color: black;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	background: none;
	border: none;
}

h1, h2, h3 {
	font-weight: normal;
}

h1 {
	font-size: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 1.5em;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

h3 {
	font-size: 1.15em;
	margin-top: 0.15em;
	margin-bottom: 0.15em;
}

ul {
    list-style: disc;
    margin-left: -1em;
}

::marker {
    color: var(--primary-color-light);
    font-size: 1.25em;
}

